body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// header style
.header {
  width: 100%;
  background-color: #bd57b4;
  height: 80px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .icon {
    visibility: hidden;
  }
  .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    width: 300px;
    height: 100px;
    text-decoration: none;
    color: #ffffff;
    img{
      height: 100px;
      width: 300px;
    }
  }
  a{
    text-decoration: none;
    color: #ffffff;
   
  }
}


// table style
.table-layout {
  padding: 0 120px 0 150px;
  margin-bottom: 90px;
  .container {
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
    border-radius: 5px;
    .title-filter {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px;
      .search {
        border-radius: 10px;
        height: 45px;
        border: 1px solid #bd57b4;
        align-items: center;
        width: 700px;
        margin-left: -20px;
        padding: 1px 1px 1px 5px;
        display: flex;
        input {
          border: none;
          outline: none;
          height: 45px;
          width: 600px;
          padding: 1px 1px 1px 18px;
          
        }
      }
      .filter{
        margin-left: 220px;
      }
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
      width: 100%;
      th, td {
        text-align: center;
        padding: 8px;
      }
      tr:nth-child(even){background-color: #f2f2f2}
    }
  }
}
// footer style
.footer {
  text-align: center;
  width: 100%;
  font-size: large;
  background-color: #b480b0;
  color: #ffffff;
  height: 3.5rem;
  align-items: center;
  position: fixed;
  top: 93%;
}
}

@media only screen and (max-width: 1000px) {
  body {
    overflow: hidden;
  .header {
    min-width: 100vw;
    background-color: #bd57b4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px 5px 2px 5px ;
    a {
      width: 100px;
      height: 60px;
      img{
        height: 60px;
        width: 100px;
      }
    }
    .icon {
      visibility: visible;
      font-size: 25px;
      outline: none;
      border: none;
      cursor: pointer;
      background: none;
      color: #ffffff;
      margin-right: 20px;
    }
    .social{
      display: none;
    }
  }
  
  .table-layout {
    padding: 0 1px 0 1px;
    .container {
      width: 100%;
      background-color: #ffffff;
      box-sizing: border-box;
      box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 40px;
      border-radius: 5px; 
      .title-filter {
        margin-bottom: 10px;
        display: block;
        .search {
          border-radius: 10px;
          height: 45px;
          border: 1px solid #bd57b4;
          align-items: center;
          width: 80%;
          padding: 1px 1px 1px 5px;
          margin: 0 2px 5px 20px;
          input {
            border: none;
            outline: none;
            height: 45px;
            width: 80%;
            padding: 1px 1px 1px 18px;
            content: "search users";
            
          }
        }
        .filter{
          margin-left: 60px;
        }
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        width: 100%;
        th, td {
          text-align: center;
          padding: 8px;
        }
        tr:nth-child(even){background-color: #f2f2f2}
      }
    }
    .pagi{
      display: none;
    }
  }
  .footer {
    text-align: center;
    // padding-top: 5px;
    font-size: 12px;
    background-color: #b480b0;
    color: #ffffff;
    height: 3.5rem;
    align-items: center;
    position: fixed;
    top: 92%;
    max-width: 100%;
  }
}
}
@media only screen and (min-width: 1000px) {
  body{
  .header {
    width: 100%;
    background-color:  #b480b0;
    height: 80px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon {
      visibility: hidden;
    }
    .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .logo {
      width: 300px;
      height: 100px;
      text-decoration: none;
      color: #ffffff;
      img{
        height: 100px;
        width: 300px;
      }
    }
    a{
      text-decoration: none;
      color: #ffffff;
     
    }
  }
  
  
  .table-layout {
  border: #bd57b4 solid1px;
    margin-bottom: 90px;
    .container {
      width: 100%;
      background-color: #ffffff;
      box-sizing: border-box;
      box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 40px;
      border-radius: 5px;
      .title-filter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        .search {
          border-radius: 10px;
          height: 45px;
          border: 1px solid #bd57b4;
          align-items: center;
          width: 400px;
          padding: 1px 1px 1px 5px;
          display: flex;
          input {
            border: none;
            outline: none;
            height: 45px;
            width: 380px;
            padding: 1px 1px 1px 18px;
            
          }
        }
        //   
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        width: 100%;
        th, td {
          text-align: center;
          padding: 8px;
        }
        tr:nth-child(even){background-color: #f2f2f2}
      }
    }
  }
  // footer style
  .footer {
    text-align: center;
    width: 100%;
    font-size: large;
    background-color: #b480b0;
    color: #ffffff;
    height: 3.5rem;
    align-items: center;
    position: fixed;
    top: 93%;
  }
}
  }